{
  "extends": ["airbnb-base", "airbnb-typescript/base"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": ["node_modules", "dist", ".yarn"],
  "rules": {
    "no-nested-ternary": 0
  }
}
